<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Mensajes recibidos</h1>
        </div>
        <div class="contenido">
            <% for(let i = 0 ; i < mensajes.length ; ++i) { %>
                <div class="filaContenido estiloMensaje">
                    <img src="/usuarios/CargarImagenDePerfil/<%=mensajes[i].IdOrigen%>">
                    <span><%=mensajes[i].NombreOrigen%></span>
                    <span><%=mensajes[i].Texto%></span>
                    <span><%=mensajes[i].fecha%></span>
                    <span><%=mensajes[i].hora%></span>
                    <a class="boton" href="/mensajeria/BorrarMensaje/<%=mensajes[i].IdMensaje%>">Borrar</a>
                </div>
            <% } %>
            <a class="boton centrarBoton" href="/mensajeria/MostrarEnvioMensajes">Enviar mensaje</a>
        </div>
    </main>

</body>