<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Enviar Mensajes</h1>
        </div>
        <div class="contenido">
            <% for(let i = 0 ; i < amigos.length ; ++i) { %>
            <div class="filaContenido separadorVertical">
                <img class="separadorHorizontal" src="/usuarios/CargarImagenDePerfil/<%=amigos[i].Id%>">
                <span class="separadorHorizontal"><%=amigos[i].nombre%></span>
                <span>
                    <form action="/mensajeria/EnviarMensaje" method="POST">
                        <input class="separadorHorizontal" type="text" name="contenido">
                        <input type="hidden" name="de" value="<%=usuario.Id%>">
                        <input type="hidden" name="para" value="<%=amigos[i].Id%>">
                        <input class="separadorHorizontal" type="submit" value="Enviar">
                    </form>
                </span>
            </div>
            <% } %>
        </div>
    </main>

</body>