<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Tu perfil</h1>
        </div>
        <div class="contenido">
            <div class="filaContenido">
              
                <img src="/usuarios/CargarImagenDePerfil/<%=usuario.Id%>">
                
                <div>
                    <div class="separadorPerfil">
                        <%=usuario.nombre%>
                    </div>
                    <div class="separadorPerfil">
                        <%=usuario.edad%> años
                    </div>
                    <div class="separadorPerfil">
                        <%=usuario.sexo%>
                    </div>
                    <div class="separadorPerfil">
                        <%=usuario.puntos%> pts
                    </div>
                </div>
            </div>
            <form action="/usuarios/ModificarPerfilDeUsuario" style="text-align: center;" method="GET">
                <input type="submit" class="centrarBoton boton" value="Modificar perfil">
            </form>
        </div>
    </main>

</body>

</html>