<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Resultados de busqueda '<%=coincidence%>'</h1>
        </div>
        <div class="contenido">
            <% for(let i = 0 ; i < users.length ; ++i) { %>
            <div class="filaContenido">
                <img src="/usuarios/CargarImagenDePerfil/<%=users[i].Id%>">
                <span><%=users[i].nombre%></span>
            </div>
            <form action="/amigos/EnviarPeticion/" method="POST">
                <input type="submit" class="centrarBoton boton" name="receptor" value="Solicitar amistad">
                <input type="hidden" name="Id" value="<%=users[i].Id%>">
            </form>
            <% } %>
        </div>
    </main>

</body>

</html>