<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraIdentificado") %>

    <main id="cuerpo">

        <div class="tituloSeccion">
            <h1><%=pregunta.texto%></h1>
        </div>
        <div class="contenido">
            <div>
                <%if (!contestada){%>
                <p>No has contestado aún esta pregunta.</p>
                <a href="/cuestiones/ContestarPorMiMismo/<%=pregunta.Id%>" class="centrarBoton boton">Contestar
                    Pregunta</a>
                <% } else{%>
                <p>Ya has contestado esta pregunta. </p>
                <%}%>
            </div>
        </div>
        <div class="contenido">
            <p>Los siguientes amigos han contestado a esta pregunta:</p>
            <% for(let i = 0 ; i < amigos.length ; ++i) { %>
                <div class="filaContenido">
                    <img src="/usuarios/CargarImagenDePerfil/<%=amigos[i].Id%>">
                    <span><%=amigos[i].nombre%></span>
                    <% if(amigos[i].correcta == -1) { %>
                    <a href="/cuestiones/AdivinarPorAmigo/<%=amigos[i].Id + ";" + pregunta.Id%>"
                        class="boton">Adivinar</a>
                    <% } else if(amigos[i].correcta == 1) { %>
                    <p class="acertada"> ¡Has acertado! </p>
                    <% } else if(amigos[i].correcta == 0) { %>
                    <p class="fallida"> Has fallado ...</p>
                    <% } %>
                </div>
                <% } %>
            </div>
    </main>

</body>

</html>